In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

df = pd.read_pickle('PDL1_GU_DATA.pkl')

df.head()

,id,sex,race,age,tissue,specimen,dx,primary,date_dx,anti_pdl1,outcome,date_last,pdl1_expression,pdl1_score,origin,fu_months,mortality_overall,mortality_cancer
0,1,Female,Causasian,45,K,rad nephrectomy,CC RCC,Kidney,2020-03-24,No,NED,2020-06-04,Positive,10.0,Primary,2.365552,AWD + NED,AWD + NED + DOC
1,2,Male,Causasian,65,P,partial penectomy,"Inv SCC, usual",Penis,2019-11-14,Yes,AWD,2020-08-04,Positive,60.0,Primary,8.673689,AWD + NED,AWD + NED + DOC
2,3,Male,Causasian,43,K,rad nephrectomy,ChrRCC,Kidney,2018-03-02,Yes,AWD,2020-09-04,Negative,7.0,Primary,30.127929,AWD + NED,AWD + NED + DOC
3,4,Male,African-American,69,K,Bone (L5) excision,Mets CC RCC,Kidney,2019-11-04,Yes,AWD,2020-09-16,Positive,40.0,Metastatic,10.414998,AWD + NED,AWD + NED + DOC
4,5,Female,African-American,79,K,Needle biopsy,CC RCC,Kidney,2020-03-24,No,AWD,2020-05-15,Negative,4.0,Primary,1.708454,AWD + NED,AWD + NED + DOC

# PD-L1 expression and overall mortality
## Primary: All tumors

In [31]:
tbl = pd.crosstab(df['mortality_overall'], df['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression    Negative  Positive
mortality_overall
AWD + NED                22        49
DOD + DOC                 3         7

## Primary: Kidney

In [32]:
kidney = df.query('primary == "Kidney"')
tbl = pd.crosstab(kidney['mortality_overall'], kidney['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression    Negative  Positive
mortality_overall
AWD + NED                 8        19
DOD + DOC                 1         1

## Primary: Penis

In [33]:
penis = df.query('primary == "Penis"')
tbl = pd.crosstab(penis['mortality_overall'],penis['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression    Negative  Positive
mortality_overall
AWD + NED                 1         1
DOD + DOC                 0         1

## Primary: Bladder

In [34]:
bladder = df.query('primary == "Bladder"')
tbl = pd.crosstab(bladder['mortality_overall'], bladder['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression    Negative  Positive
mortality_overall
AWD + NED                 8        25
DOD + DOC                 1         5

## Primary: Urethra

In [35]:
urethra = df.query('primary == "Urethra"')
tbl = pd.crosstab(urethra['mortality_overall'], urethra['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression    Negative  Positive
mortality_overall
AWD + NED                 0         1
DOD + DOC                 1         0

## Primary: Ureter

In [41]:
ureter = df.query('primary == "Ureter"')
tbl = pd.crosstab(ureter['mortality_overall'], ureter['pdl1_expression'])
display(tbl)

pdl1_expression    Negative  Positive
mortality_overall
AWD + NED                 4         3

## Primary: Prostate

In [40]:
prostate = df.query('primary == "Prostate"')
tbl = pd.crosstab(prostate['mortality_overall'], prostate['pdl1_expression'])
display(tbl)

pdl1_expression    Negative
mortality_overall
AWD + NED                 1

# PD-L1 expression and cancer-related mortality

## Primary: All tumors

In [44]:
tbl = pd.crosstab(df['mortality_cancer'], df['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression   Negative  Positive
mortality_cancer
AWD + NED + DOC         22        51
DOD                      3         5

## Primary: Kidney

In [46]:
tbl = pd.crosstab(kidney['mortality_cancer'], kidney['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression   Negative  Positive
mortality_cancer
AWD + NED + DOC          8        19
DOD                      1         1

## Primary: Penis

In [49]:
tbl = pd.crosstab(penis['mortality_cancer'], penis['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression   Negative  Positive
mortality_cancer
AWD + NED + DOC          1         1
DOD                      0         1

## Primary: Bladder

In [51]:
tbl = pd.crosstab(bladder['mortality_cancer'], bladder['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression   Negative  Positive
mortality_cancer
AWD + NED + DOC          8        27
DOD                      1         3

## Primary: Urethra

In [53]:
tbl = pd.crosstab(urethra['mortality_cancer'], urethra['pdl1_expression'])
tbl_model = sm.stats.Table2x2(np.array(tbl))
display(tbl, tbl_model.summary())

pdl1_expression   Negative  Positive
mortality_cancer
AWD + NED + DOC          0         1
DOD                      1         0

## Primary: Ureter

In [55]:
tbl = pd.crosstab(ureter['mortality_cancer'], ureter['pdl1_expression'])
display(tbl)

pdl1_expression   Negative  Positive
mortality_cancer
AWD + NED + DOC          4         3

## Primary: Prostate

In [57]:
tbl = pd.crosstab(prostate['mortality_cancer'], prostate['pdl1_expression'])
display(tbl)

pdl1_expression   Negative
mortality_cancer
AWD + NED + DOC          1